/* فونت تپل مخصوص هدر Auth */
@font-face {
  font-family: "TrapBold";
  src: url("/fonts/TrapBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* فونت اصلی سایت */
html, body {
  font-family: sans-serif;
  background: #0b0010;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ff00cc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.1);
}
